body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    text-align: center;
}
table {
    border-spacing: none;
    padding: 0px auto;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
}
td {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    text-align: center;
}
.celle {
    border: 2px solid black;
    padding: 10px;
    width: 40px;
    height: 30px;
    font-size: 20px;
}
#feedback {
    color: tomato;
    font-size: 24px;
    font-weight: bold;
}
